/.vagrant
/shares/eoxserver
/shares/mapcache
/shares/httpd/www_root/cache/TEST_SAR.sqlite
/shares/httpd/www_root/cache/TEST_OPTICAL.sqlite
/shares/httpd/www_root/cache/TEST_ASA_WSM.sqlite
/shares/httpd/www_root/cache/TEST_MER_FRS.sqlite
