# Python
*.pyc

# Django
/ngEO_Browse_Server.egg-info

# Custom
/init.sh
*.pydevproject
*.project
/tmp
TODO

# Vagrant
/vagrant/.vagrant
/vagrant/shares/eoxserver
/vagrant/shares/mapcache
/vagrant/shares/httpd/www_root/cache/*.sqlite
