# Python
*.pyc

# Django
/ngEO_Browse_Server.egg-info

# Custom
/init.sh
*.pydevproject
*.project
/tmp
TODO

# Vagrant
/vagrant/.vagrant
/vagrant/shares/eoxserver
/vagrant/shares/mapcache
/vagrant/shares/ngeo-b_autotest
/vagrant/shares/httpd/www_root/cache/*.sqlite
/vagrant/shares/httpd/conf/README
/vagrant/shares/httpd/conf/welcome.conf
/vagrant/shares/httpd/www_root/error/
/vagrant/shares/httpd/www_root/icons/
