language: python

services:
- docker

before_install:
- cd install
- docker build . -t browse-server --add-host=browse:127.0.0.1

script:
- docker run -it --rm --name test-browse-server -v "${PWD}/../ngeo_browse_server/":/usr/lib/python2.6/site-packages/ngeo_browse_server/ -v "${PWD}/../ngeo-b_autotest/data/":/var/www/ngeo/ngeo_browse_server_instance/ngeo_browse_server_instance/data/ -v "${PWD}/../ngeo-b_autotest/logs/":/var/www/ngeo/ngeo_browse_server_instance/ngeo_browse_server_instance/logs/ --tmpfs /tmp:rw,exec,nosuid,nodev -h browse --add-host=browse:127.0.0.1 browse-server /bin/bash -c "/etc/init.d/postgresql start && sleep 5 && /etc/init.d/memcached start && python /var/www/ngeo/ngeo_browse_server_instance/manage.py test control -v2"

before_deploy:
- docker run -it --rm --name build-browse-server -v "${PWD}/../":/ngeo-b/ --tmpfs /tmp:rw,exec,nosuid,nodev -h browse --add-host=browse:127.0.0.1 browse-server /bin/bash -c "yum update && yum install -y rpmdevtools && cd /ngeo-b/ && python setup.py bdist_rpm"

deploy:
  provider: releases
  api_key:
    secure: QPKKSL6Vc5iN7zt1WtnTZ2CbHX4V5RzpLS9NkR+bUp+fTP24i7twt4J6c2yRjhE3IgSLwj08ESoe3yZW5HqKVB8WhMd8+E/vfkekbllIU74i51hXSlpIS58xNtI8PkT9WE9eYIi90QEbN6es1YjhtBiPYI1WZXg3NC9TscffGfY=
  file_glob: true
  file: ../dist/*.rpm
  skip_cleanup: true
  draft: true
  on:
    tags: true

notifications:
  slack:
    secure: axWg6MRTsvJByFcSG84Birbc3bNFWXnmmA45Rp/4IyBVklI3ytk0WmVx3Qqlf/vz2xfZHdRde4Je/Y+0ufioRY1e3fEl3J/IbcG1CeUcNPn5ghCmn8rJe+ptsFZQYY4uLsX9mWd74Q7xP12kxPQkRKHvpswYtmOhiYxZNEltcIk=
