# Python
*.pyc

# Django
/autotest/data/data.sqlite
/autotest/data/mapcache.sqlite

# EOxServer
/autotest/logs/eoxserver.log
/autotest/wcst_perm
/autotest/wcst_temp
/autotest/data/optimized/

# Custom
/init.sh
/.pydevproject
/.project
/tmp
