# Python
*.pyc

# Django
/autotest/data/data.sqlite
/autotest/data/mapcache.sqlite
/autotest/static
/ngEO_Browse_Server.egg-info

# EOxServer
/autotest/logs/eoxserver.log
/autotest/wcst_perm
/autotest/wcst_temp

ngEO-B
/autotest/logs/debug.log
/autotest/logs/ngeo.log
/autotest/results

# Custom
/init.sh
*.pydevproject
*.project
/tmp
